body {
    font-family: Arial, sans-serif;
    background-image: url(background.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
  }
.body {
  border: 20px;
  width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 100px auto;

}
.bodykonverter {
  border: 20px;
  width: 400px;
  background-color: #e6e6e6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.judul {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow:0 5px 10px #b5b5b5;
}
.group1 {
margin-top:10px;
margin-bottom: 15px;
text-align: center;
}
.group1 label{
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 18px;
}
.group1 select{
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  border: none;
}
.group2 {
margin-top:10px;
margin-bottom: 10px;
text-align: center;
}
.group2 label {
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.group2 input{
  text-align: center;
  border-radius: 3px;
  width: 40%;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}
.group2 button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.group2 button :hover {
  background-color: white;
}
.card-title {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}
.card-text {
  margin-left: 30px;
  line-height: 0.7;
}
.reset {
  padding: 5px;
  margin-left: 230px;
  border-radius: 3px;
  border-color: red;

}
.reset :hover{
  background-color: #000000;
}